extends layout

block content
  if user
    h1(class="text-xl")= "Welcome back"
    div(class="flex gap-3")
      a(class="border border-blue-700 bg-blue-200 hover:bg-blue-100 transition px-3 py-1" href="/message-form") Create new message
      a(class="border border-red-700 bg-red-200 hover:bg-red-100 transition px-3 py-1" href="/logout") Logout 
  else
    h1= "Sign in"
    form(action="/login" method="POST")
      label(for="username") Username  
      input(name="username" placeholder="username" type="text")
      label(for="password") Password  
      input(name="password" type="text")
      button Log in

  for message in messages
    div(class="flex flex-col mt-5 border border-gray-700 p-3")
      p(class="text-xl")= message.owner[0].username
      p(class="text-xl text-center")= message.title
      p= message.textContent
      p(class="text-gray-500 text-xs self-end")= message.createdAt